<!DOCTYPE html>
<html>
<head>
  <title>GBSCOUTS APPLICATION FORM</title>
</head>
<body>
  <header>
    <h2>GBSCOUTS ONLINE APPLICATION FORM</h2>
    <nav>
      <a href="/">Back</a>
    </nav>
  </header>

  <main>
    {{{body}}}   <!-- VERY IMPORTANT: without this your form won't render -->
  </main>

  <footer>
    <p>&copy; Created by IT-Dept GBSCOUTS</p>
  </footer>
</body>
</html>
